@charset "UTF-8";

body,ul,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 微软雅黑, serif;
    list-style: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: red;
}
header,nav,section,article{
    display: block;
}

:root{
    background-color:#f5f6f7 ;
}

/* 窗口宽度在1000px以上 */
@media screen and (min-width: 1000px){
    /* 首页 */
    div[id="index_nav_container"]{
        width: 60%;
        min-width: 600px;
    }
    div[id="index_nav_main"]{
        width: 60%;
    }
    section[id="index_main"]{
        width: 1240px;
    }
    section[id="index_left_section"] {
        width: 824px;
    }
    aside[id="index_right_aside"]{
        width: 320px;
    }
    /* 文章页 */
    section[id="article_main"]{
        box-sizing: border-box;
        display: block;
        width: 70%;
        min-width: 1240px;
        margin: 0 auto;
    }
    article[id="article_content"]{
        display: inline-block;
        box-sizing: border-box;
        width: 66%;
        min-width: 850px;
    }
    aside[id="article_aside"]{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        background-color: #00b7ee;
    }
    /* 文章列表 */
    div[id="article_list"]{
        width: 70%;
        min-width: 1240px;
    }
    div[id="article_list"] section:first-child{
        width: 70%;
        min-width: 850px;
    }
    div[id="article_list_main"]{
        width: 100%;
        min-width: 850px;
    }
    /* 后台通用页面 */
    div[id="admin_main"]{
        min-width:1240px ;
    }
}

/* 首页头部 */
nav[id="index_nav"]{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
}
div[id="index_nav_container"]{
    margin: 0 auto;
    height: 4em;
}
div[id="index_nav_main"]{
    height: 4em;
    margin: 0 auto;
    text-align: center;
}
ul[id="index_nav_ul"]{
    box-sizing: border-box;
    display: inline-block;
    height: 4em;
}
ul[id="index_nav_ul"] li{
    display: inline-block;
    height: 4em;
}
ul[id="index_nav_ul"] li a{
    display: inline-block;
    box-sizing: border-box;
    height: 4em;
    padding: 22px 24px;
    color: white;
}
ul[id="index_nav_ul"] li a:hover{
    color: red;
}
div[id="index_header_picture"]{
    box-sizing: border-box;
    width: 100%;
    height: 480px;
    background-size: 100% 100%;
}
/* 首页内容 */
section[id="index_main"]{
    box-sizing: border-box;
    display: block;
    margin: 120px auto 120px auto;
}
section[id="index_left_section"] {
    box-sizing: border-box;
    display: inline-block;
}
aside[id="index_right_aside"]{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
div[id="index_left"]{
}
div[id="index_right"]{
    text-align: center;
    margin-left: 32px;
}
div[id="index_right"] h1{
    font-weight: normal;
    font-size: 16px;
    padding: 16px;
    border-bottom:1px dashed;
}
div[id="index_right"] h2{
    font-size: 16px;
    font-weight: normal;
    margin-top: 8px;
}
article[class="index_article_1"]{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
}
header[class="index_article_h1"]{
    box-sizing: border-box;
    height: 88px;
    text-align: center;
}
header[class="index_article_h1"] a{
    display: inline-block;
    color: black;
    font-family: 宋体, serif;
    font-size: 14px;
    padding: 0 24px;
}
a[class="index_article_a1"]:before{
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    position: relative;
    top: 8px;
    right: 120%;
    background-color: #171717;
}
a[class="index_article_a1"]:after{
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    position: relative;
    bottom: 9px;
    left: 120%;
    background-color: #171717;
 }
header[class="index_article_h1"] h2 a{
    display: block;
    margin: 16px auto 32px auto;
    font-family: 微软雅黑, serif;
    font-weight: 400;
    font-size: 24px;
}
div[class="index_article_img1"]{
    text-align: center;
}
div[class="index_article_img1"] a img{
    width: 100%;
    max-height: 500px;
}
div[class="index_article_abs1_content"]{
    margin-top: 16px;
    text-align: left;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
div[class="index_article_abs1_content"] p{
    height: 72px;
    text-indent: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
div[class="index_article_abs1_content"] div{
    margin-top: 24px;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px dashed #b1adad;
}
div[class="index_article_abs1_content"] div a{
    color: #00a0e9;
}
article[class="index_article_2"]{
    width: 45%;
    float: left;
    margin-bottom: 16px;
}
article[class="index_article_3"]{
    width: 45%;
    float: right;
    margin-bottom: 16px;
}
/* 首页脚部 */
div[id="index_footer"]{
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    background-color: #171717;
    text-align: center;
}
div[id="index_footer"] span{
    box-sizing: border-box;
    display: block;
    height: inherit;
    padding: 24px 24px;
    font-size: 12px;
    color: #7b7b7b;
}

/* 文章页 */
article[id="article_content"]{
    background-color: white;
    padding: 24px 56px;
}
nav[id="article_content_nav"] ul li{
    display: inline-block;
}
li[class="article_content_nav_li"]:after{
    content: " > ";
}
article[id="article_content"] header h1{
    margin-top: 8px;
    margin-bottom: 16px;
}
div[id="article_content_header_div"]{
    width: 100%;
    height: 35px;
}
div[id="article_content_header_div"] div{
    display: inline-block;
    height: 35px;
    vertical-align: top;
}
div[id="article_content_header_div"] div img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
div[id="article_content_header_div"] div p{
    font-size: 16px;
    line-height: 35px;
}
div[id="article_content_header_tags"]{
    display: block;
    height: 24px;
    margin-top: 12px;
}
div[id="article_content_header_tags"] a{
    display: inline-block;
    box-sizing: border-box;
    background-color: #dbdbdb;
    padding: 6px 12px;
    font-size: 14px;
    margin-left: 6px;
    border-radius: 19px;
}
div[id="article_content_main"]{
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.5;
    min-height: 900px;
}
article[id="article_content"] footer{
    display: block;
    margin-top: 24px;
    text-align: center;
    font-size: 12px;
}
article[id="article_content"] footer p{
    font-size: inherit;
}

/* 文章列表页 */
div[id="article_list"]{
    box-sizing: border-box;
    display: block;
    margin: 48px auto 0;
    background-color: #00a0e9;
}
div[id="article_list_main"]{
    box-sizing: border-box;
    display: inline-block;
}
div[id="article_list_main"] ul li{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 126px;
    padding: 18px 24px;
    background-color: white;
    border-bottom: 1px solid #f4f4f4;
}
article[class="article_li"]{
    display: block;
}
article[class="article_li"] header{
    margin-bottom: 12px;
}
article[class="article_li"] header h2 a{
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
article[class="article_li"] header h2 a:hover{
    color: red;
}
div[class="article_abs"]{
    box-sizing: border-box;
    margin-bottom: 8px;
}
div[class="article_abs"] p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
article[class="article_li"] footer{
    font-size: 13px;
}
div[id="page_bar"]{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 48px;
    background-color: white;
}
div[id="page_bar"] ul{
    width: 750px;
    margin: 0 auto;
    height: 48px;
}
div[id="page_bar"] ul li{
    display: inline-block;
    width: 40px;
    line-height: 48px;
    text-align: center;
}
div[id="page_bar"] ul li a{
    display: block;
    color: blue;
}
a[class="active_a"]{
    color: red!important;
}
a[class="disable_a"]{
    color: black!important;
}
a[class="disable_a"]:hover{
    cursor: default!important;
}
div[id="page_bar"] ul li a:hover{
    color: red;
    cursor: pointer;
}
li[id="page_bar_li1"]{
    width: 160px!important;
}
li[class="page_bar_li2"]{
    width: 64px!important;
}
/* 后台通用左边栏 */
div[id="admin_main"]{
    background-color: #f5f6f7;
}
div[id="admin_main"] aside,div[id="admin_main"] section{
    display: inline-block;
    vertical-align: top;
}
div[id="admin_left"]{
    box-sizing: border-box;
    width: 180px;
    min-height: 600px!important;
    background-color: #171717;
    position: fixed;
}
div[id="admin_left"] header a i{
    color: white;
    font-size: 18px;
    margin-left: 16px;
    line-height: 56px;
}
div[id="admin_left"] header h1{
    display: inline-block;
    height: 56px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 56px;
}
ul[id="admin_navBar"]{
    color: white;
}
ul[id="admin_navBar"] li{
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    padding-left: 24px;
}
ul[id="admin_navBar"] li:hover{
    background-color: #2c3138;
    cursor: pointer;
    border-left:2px solid #20a53a ;
}
ul[id="admin_navBar"] li a{
    text-decoration: none;
    display: block;
    width: 100%;
}
ul[id="admin_navBar"] li a:visited{
    color: white;
}
ul[id="admin_navBar"] li a:hover{
    color: white;
}
ul[id="admin_navBar"] li i{
    font-size: 18px;
    margin-right: 8px;
}
/* 后台右边页面 */
div[id="admin_main"] section{
    width: 82%;
}
div[id="admin_right"]{
    width: 100%;
    margin-left: 204px;
}
/* 后台博客页面 */
section[id="blog"]{
    width: 100%!important;
}
section[id="blog"] header{
    margin-top: 16px;
    height: 48px;
    padding-left: 24px;
    background-color: white;
}
section[id="blog"] header h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
}
div[id="blog_content"]{
    margin-top: 16px;
    background-color: white;
    padding: 16px;
}
div[id="blog_option"]{
    height: 48px;
    line-height: 48px;
    margin-bottom: 24px;
}
/* 博客页面分页标签 */
div[id="admin_page_bar_header"],div[id="admin_page_bar_content"],div[id="admin_page_bar_footer"]{
    display: inline-block;
}
li[class="page-item"] a:visited{
    color: #007bff;
}
div[id="blog_content"] table tbody tr td{
    line-height: 30px;
}
/* 添加、更新博客页面 */
section[id="change_blog"]{
    width: 100%!important;
    padding: 24px 48px;
}
/* 登录页面 */
canvas[id="window_back"]{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
div[id="login_form"]{
    box-sizing: border-box;
    background-color: white;
    border-radius: 24px;
    position: absolute;
    top: 300px;
    width: 400px;
    height: 400px;
    padding: 32px;
    margin: 0 auto;
    display: none;
}
div[id="login_form"] input{
    display: block;
    width: 100%;
    margin-bottom: 16px;
}
div[id="login_form"] button{
    display: block;
}
div[id="login_form"] a:hover{
    text-decoration: none;
}
button[id="btn_register"]{
    margin-top: 16px;
}
/* 添加权限 */
div[id="change_permission"]{
    width: 400px;
    margin: 0 auto;
}
div[id="change_permission"] form input{
    margin-bottom: 16px;
}
/* 权限首页 */
div[id="permission_list"]{
    line-height: 24px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 1px solid black;
}
div[id="permission_list_tag"]:hover{
    cursor: pointer;
}
div[id="permission_list_tag"] i{
    width: 16px;
    font-size: 20px;
}
div[id="permission_list_content"]{
    box-sizing: content-box;
    height: 0;
    overflow: hidden;
}
div[id="role_list"]{
    line-height: 24px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 1px solid black;
}
div[id="role_list_tag"]:hover{
    cursor: pointer;
}
div[id="role_list_tag"] i{
    width: 16px;
    font-size: 20px;
}
div[id="role_list_content"]{
    box-sizing: content-box;
    height: 0;
    overflow: hidden;
}
div[id="person_list"]{
    line-height: 24px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 1px solid black;
}
div[id="person_list_tag"]:hover{
    cursor: pointer;
}
div[id="person_list_tag"] i{
    width: 16px;
    font-size: 20px;
}
div[id="person_list_content"]{
    box-sizing: content-box;
    height: 0;
    overflow: hidden;
}